@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

.home {
  .title {
    background-color: black;
    color: white;
    margin: 0;
    padding: 15px 0;
  }
}
