.card {
  vertical-align: top;
  white-space:normal;
  width: 220px;
  text-align: center;
  height: 320px;
  padding: 30px 10px;
  font-size: 2em;
  border-radius: 15px;
  overflow-y: auto;
  visibility: hidden;
  display: none;
  user-select: none;
  &.white, &.black {
    visibility: visible;
    display: inline-block;
  }
  &.white {
    background-color: white;
    color: black;
    border: 2px solid #dadada;
    width: 216px;
    height: 316px;
    box-shadow: 6px 4px #dadada;
  }
  &.black {
    background-color: black;
    color: white;
    box-shadow: 6px 4px #696969;
  }
  .text, .text * {
    margin: 0;
  }
}
