header#header {
  position:relative;
  background-color: black;
  color: white;
  margin: 0;
  padding: 15px 0;
  height: 60px;
  font-size: 25px;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  & > * {
    display: inline-block;
  }
  .title {
    margin: 0;
  }
  .logoutbutton {
    position: absolute;
    transform: scale(2.2);
    top: ~'calc(50% - 10px)';
    right:10px;
  }
  &.small {
    padding: 0 0 10px 0;
    height: 30px;
    font-size: 1em;
    .logoutbutton {
      top: ~'calc(50% - 6px)';
      transform: scale(1.5);
    }
  }
  &.none {
    display: none;
  }
}
